.flex {
    display: flex;
}
.a-center {
    align-items: center;
}
.a-end {
    align-items: flex-end;
}
.a-start {
    align-items: flex-start;
}
.flex-d-col {
    flex-direction: column;
}
.j-center {
    justify-content: center;
}
.j-between {
    justify-content: space-between;
}
.j-around {
    justify-content: space-around;
}
